src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="bookmyshow-shalloo-nandini-2-config" api="resource::4c2825dd-e397-4b98-8eb5-fdf4c967c16e:bms-shalloo-nandini:1.0.1:raml:zip:bookmyshow-shalloo-nandini.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" disableValidations="true"/>
    <flow name="bookmyshow-shalloo-nandini-2-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="bookmyshow-shalloo-nandini-2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="bookmyshow-shalloo-nandini-2-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="bookmyshow-shalloo-nandini-2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\book:application\json:bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="BookTicket" doc:id="77eb9365-40db-4f07-9f74-dff92ac8285a" name="BookTicket" />
    </flow>
    <flow name="put:\movies\(movie_id):application\json:bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="UpdateMovieByID" doc:id="9c2ca4ae-4ef0-4748-9375-56c7a717de3d" name="UpdateMovieByID" />
    </flow>
    <flow name="put:\shows\(shows_id):application\json:bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="UpdateShowByID" doc:id="c4fae62f-54f5-411c-b3fd-f7c7119cc82e" name="UpdateShowByID" />
    </flow>
    <flow name="delete:\movies\(movie_id):bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="DeleteMovieByID" doc:id="18acdb94-7a89-44a7-ab7a-e34ce27a538d" name="DeleteMovieByID" />
    </flow>
    <flow name="delete:\shows\(shows_id):bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="DeleteShowByID" doc:id="4c7233f9-2df1-4371-9642-dda7eddf6944" name="DeleteShowByID" />
    </flow>
    <flow name="get:\movies:bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="GetMovies" doc:id="143ff82c-8e48-42db-9a9b-978bb2358d9f" name="GetMovies" />
    </flow>
    <flow name="get:\shows:bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="GetShows" doc:id="f7aa2303-51ab-4fd4-b8b3-85b8d36448ad" name="GetShows" />
    </flow>
    <flow name="get:\movies\(movie_id):bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="GetMovieByID" doc:id="6ed185a7-86e2-4a36-9c46-7fff9a4f4574" name="GetMovieByID" />
    </flow>
    <flow name="get:\shows\(shows_id):bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="GetShowByID" doc:id="2d60e4ba-924b-4b82-a65b-ae3cea580eb1" name="GetShowByID" />
    </flow>
    <flow name="post:\book:application\json:bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="BookTicket" doc:id="8d31ca79-d384-482b-bb8a-cdd479fdbc2d" name="BookTicket" />
    </flow>
    <flow name="post:\movies:application\json:bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="InsertMovies" doc:id="5bdfc071-0538-49c6-9420-233920c7b28d" name="InsertMovies" />
    </flow>
    <flow name="post:\shows:application\json:bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="AddShow" doc:id="1532944f-4814-4530-95ae-22eca8087047" name="AddShow" />
    </flow>
</mule>
