src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="bookmyshow-shalloo-nandini-2-config" api="resource::4c2825dd-e397-4b98-8eb5-fdf4c967c16e:bms-shalloo-nandini:1.0.1:raml:zip:bookmyshow-shalloo-nandini.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" disableValidations="true"/>
    <flow name="bookmyshow-shalloo-nandini-2-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="bookmyshow-shalloo-nandini-2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="bookmyshow-shalloo-nandini-2-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="bookmyshow-shalloo-nandini-2-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\book:application\json:bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="BookTicket" doc:id="fcd6301f-450a-499e-8b53-49aa8dd7f82d" name="BookTicket" />
    </flow>
    <flow name="put:\movies\(movie_id):application\json:bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="UpdateMovieByID" doc:id="ef1b4bbe-0856-4694-9523-a489230ba65e" name="UpdateMovieByID" />
    </flow>
    <flow name="put:\shows\(shows_id):application\json:bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="UpdateShowByID" doc:id="089a9b49-54b5-49a0-af5d-7b82c9008cac" name="UpdateShowByID" />
    </flow>
    <flow name="delete:\movies\(movie_id):bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="DeleteMovieByID" doc:id="b505cd3d-e84d-4638-8c3e-46ea3c7bc510" name="DeleteMovieByID" />
    </flow>
    <flow name="delete:\shows\(shows_id):bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="DeleteShowByID" doc:id="d8102d2f-5af5-48ec-ac82-0e32c03aa980" name="DeleteShowByID" />
    </flow>
    <flow name="get:\movies:bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="GetMovies" doc:id="6cf736d2-519d-4051-b1c5-e5641fa723ac" name="GetMovies" />
    </flow>
    <flow name="get:\shows:bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="GetShows" doc:id="b289f299-d801-4682-ba3b-f64e72cea8ca" name="GetShows" />
    </flow>
    <flow name="get:\movies\(movie_id):bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="GetMovieByID" doc:id="7749cd12-dd83-4636-a90d-d3995f5f13c0" name="GetMovieByID" />
    </flow>
    <flow name="get:\shows\(shows_id):bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="GetShowByID" doc:id="fd6acbeb-1d5c-463a-9e1b-b66bf659aabf" name="GetShowByID" />
    </flow>
    <flow name="post:\book:application\json:bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="BookTicket" doc:id="61647c48-2a9b-4b57-ba15-08e2360275ae" name="BookTicket" />
    </flow>
    <flow name="post:\movies:application\json:bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="InsertMovies" doc:id="99a86882-c575-4328-aa94-3904c959ca46" name="InsertMovies" />
    </flow>
    <flow name="post:\shows:application\json:bookmyshow-shalloo-nandini-2-config">
		<flow-ref doc:name="AddShow" doc:id="16f8b82d-6049-4701-b7bd-08cd5c4f6a77" name="AddShow" />
    </flow>
</mule>
