src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="bookmyshow-shalloo-nandini-3-config" api="resource::6ecddfdc-9c0a-4f33-b1a9-d38546404c54:bookmyshow-shalloo-nandini:1.0.2:raml:zip:bookmyshow-shalloo-nandini.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="bookmyshow-shalloo-nandini-3-main">
        <http:listener path="/api/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="bookmyshow-shalloo-nandini-3-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="bookmyshow-shalloo-nandini-3-console">
        <http:listener path="/console/*" config-ref="HTTP_Listener_config">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="bookmyshow-shalloo-nandini-3-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\book:application\json:bookmyshow-shalloo-nandini-3-config">
        <flow-ref doc:name="BookTicket" doc:id="6a835f7c-c123-414c-a5e4-3f1a5c952d56" name="BookTicket"/>
    </flow>
    <flow name="put:\movies\(movie_id):application\json:bookmyshow-shalloo-nandini-3-config">
		<flow-ref doc:name="UpdateMovieByID" doc:id="fedff374-4dd9-4b2e-af55-9995116f0b25" name="UpdateMovieByID" />
    </flow>
    <flow name="put:\shows\(shows_id):application\json:bookmyshow-shalloo-nandini-3-config">
		<flow-ref doc:name="UpdateShowByID" doc:id="21f132ee-6879-44ab-b203-146820a0c7d4" name="UpdateShowByID" />
    </flow>
    <flow name="delete:\movies\(movie_id):bookmyshow-shalloo-nandini-3-config">
		<flow-ref doc:name="DeleteMovieByID" doc:id="7f83ab42-7376-4d7e-bf30-4cd5bfcdb913" name="DeleteMovieByID" />
    </flow>
    <flow name="delete:\shows\(shows_id):bookmyshow-shalloo-nandini-3-config">
		<flow-ref doc:name="DeleteShowByID" doc:id="93358a73-8741-493c-9a0f-1ff5e1bd12b7" name="DeleteShowByID" />
    </flow>
    <flow name="get:\movies:bookmyshow-shalloo-nandini-3-config">
		<flow-ref doc:name="GetMovies" doc:id="b47aab5d-5d77-4a93-8a04-c3f368b6e814" name="GetMovies" />
    </flow>
    <flow name="get:\shows:bookmyshow-shalloo-nandini-3-config">
		<flow-ref doc:name="GetShows" doc:id="e5970f9a-f675-4376-984e-4504cce50277" name="GetShows" />
    </flow>
    <flow name="get:\movies\(movie_id):bookmyshow-shalloo-nandini-3-config">
		<flow-ref doc:name="GetMovieByID" doc:id="8b605e92-cedb-40d1-89a7-03bf9bb0f384" name="GetMovieByID" />
    </flow>
    <flow name="get:\shows\(shows_id):bookmyshow-shalloo-nandini-3-config">
		<flow-ref doc:name="GetShowByID" doc:id="dc97ea3b-7e62-4512-a08a-9b14f0cf46df" name="GetShowByID" />
    </flow>
    <flow name="post:\book:application\json:bookmyshow-shalloo-nandini-3-config">
		<flow-ref doc:name="BookTicket" doc:id="84fb9278-4b8c-40d2-b418-02d475a3f837" name="BookTicket" />
    </flow>
    <flow name="post:\movies:application\json:bookmyshow-shalloo-nandini-3-config">
		<flow-ref doc:name="InsertMovies" doc:id="694cbe9d-39a9-43a3-811c-65b191122206" name="InsertMovies" />
    </flow>
    <flow name="post:\shows:application\json:bookmyshow-shalloo-nandini-3-config">
		<flow-ref doc:name="AddShow" doc:id="c2da4269-f81c-49da-a195-e2f26e6a0cd8" name="AddShow" />
    </flow>
</mule>
